@import 'includes/_fonts';
@import 'compass/css3/border-radius';
@import 'compass/css3/animation';
@import 'compass/css3/transition';

@include keyframes(fadeInOut) {
  0%   { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(fadeIn) {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

$light-blue: #c4e2f2;
$grey: #282a2c;
$mid-grey: #32363b;
$footer-grey: #3c3f42;
$light-grey: #4b4f53;
$light-grey-text: #909293;
$footer-text: #949597;
$grey-text: #798188;
$off-black: #131416;
$white: #ffffff;
$yellow: #f4ea85;
$blue: #5d98b8;
$orange: #fa9a4b;
$green: #a1d07b;
$pink: #ee4f7e;
$red: #e74c3c;

body {
  background-color: $grey;
  margin: 0;
  padding: 0;
  font-family: $open-sans;

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 1em;
    background-color: $off-black;

    nav {
      #logo {
        font-family: $droid-sans;
        color: $white;
        text-decoration: none;
        float: left;
        margin-right: 10px;

        &:hover {
          color: $orange;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          float: left;
          margin-left: 3px;

          a {
            color: $light-grey-text;
            text-decoration: none;
            display: block;
            background-color: $mid-grey;
            padding: 5px 15px;
            @include border-radius(5px 5px 0px 0px);

            &.selected {
              color: $white;
              background-color: $light-grey;
            }
          }
        }

      }
      .nav-base {
        width: 100%;
        background-color: $light-grey;
        border-bottom: 1px solid $off-black;
        height: 5px;
        clear: both;
      }
    }

    #gh {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  #content {
    margin: 75px auto;

    #cursor {
      width: 0;
      height: 1em;
      border-left: 1px solid white;
      @include animation(fadeInOut 1s infinite);
    }

    #cv, #marquee {
      font-family: $droid-sans;
      white-space: pre-wrap;
      color: $grey-text;

      >li {
        text-indent: -1.20em;
        padding-left: 1.20em;

        @for $i from 1 through 10 {
          &.tabs-#{$i} {
            text-indent: -1.20em * ($i + 1);
            padding-left: 1.20em * ($i + 1);
          }
        }        
      }

      &#cv {
        span:hover {
          background-color: $mid-grey
        }
      }

      &#marquee {
        color: $white;
        display: inline;

        span {
          @include transition(color 0.4s ease-in-out, background-color 0.4s ease-in-out);

          a {
            text-decoration: none;
            @include animation(fadeIn 0.6s);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .comment {
        color: $grey-text;
      }

      .default {
        color: $white;
      }

      .function {
        color: $blue;
      }

      .string {
        color: $light-blue;

        a {
          color: $orange;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .identifier {
        color: $yellow;
      }

      .reserved, .arg, .comparator, .modifier, .one, .one a {
        color: $orange;
      }

      .two {
        color: $white;
        background-color: $pink;
      }

      .number {
        color: $green;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    background-color: $footer-grey;
    color: $footer-text;

    #credits {
      float: right;

      p {
        font-size: 0.8em;
        margin: 0.2em 0;

        .heart {
          color: $red;
        }

        .name {
          font-family: $droid-sans;
        }
      }
    }

    #info {
      float: left;
      font-size: 0.8em;
      margin: 0.2em 0;
    }
  }
}

@media print {
  body {
    header, footer {
      display: none;
    }
  }
}
