body {
  background-color: $grey;
  margin: 0;
  padding: 0;
  font-family: $open-sans;

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media print {
  body {
    font-size: 9px;
    padding: 20px;
  }
}
