$light-blue: #c4e2f2;
$grey: #282a2c;
$mid-grey: #32363b;
$footer-grey: #3c3f42;
$light-grey: #4b4f53;
$light-grey-text: #909293;
$footer-text: #949597;
$grey-text: #798188;
$off-black: #131416;
$white: #ffffff;
$yellow: #f4ea85;
$blue: #5d98b8;
$orange: #fa9a4b;
$green: #a1d07b;
$pink: #ee4f7e;
$red: #e74c3c;
